
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.brdr{
    border-top: dashed gray;

}

.h2font{font-family: Island Moments;}
.pfont{font-family: Lobster;
font-size: 20px;}